/*Base Css*/
body{transition-duration: 1s;}
body{background-image: url('../img/daylight-environment-forest-idyllic-459225.jpg'); background-size: cover;background-repeat: no-repeat;}

@media(max-width: 960px)
{
	body{background-image: url('../img/bg.jpg'); background-size: 100%;background-repeat: no-repeat;color: #fff;}
}
